{% extends "admin/pages/property/create/base.html" %}
{% load widget_tweaks %}

{% block extra_head %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col">
        <div>
          <span class="fs-4 m-0 text-primary"><a href="javascript:history.back()"><i class="ri-arrow-left-line"></i> Back</a></span>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span class="fs-3 m-0">Add Independent/House</span>
              <hr />
            </div>
            <div class="card-content">
              <form method="post">
                {% csrf_token %} 
                {{ wizard.management_form }}
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <label for="facing" class="form-label mb-0">Facing</label>
                    {{wizard.form.facing|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.facing}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="model" class="form-label mb-0">Model</label>
                    {{wizard.form.model|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.model}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="transaction" class="form-label mb-0">Transaction</label>
                    {{wizard.form.transaction|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.transaction}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="possession" class="form-label mb-0">Possession</label>
                    {{wizard.form.possession|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.possession}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="available_from" class="form-label mb-0">Available From</label>
                    {{wizard.form.available_from|attr:"class:form-control"|attr:"placeholder:Select Month"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.available_from}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="age" class="form-label mb-0">Age</label>
                    {{wizard.form.age|attr:"class:form-control"|attr:"placeholder:Enter Age"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.age}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="area" class="form-label mb-0">Area</label>
                    {{wizard.form.area|attr:"class:form-control"|attr:"placeholder:Enter Area"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.area}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="plot_area" class="form-label mb-0">Plot Area</label>
                    {{wizard.form.plot_area|attr:"class:form-control"|attr:"placeholder:Enter Plot Area"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.plot_area}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="approach_road" class="form-label mb-0">Approach Road</label>
                    {{wizard.form.approach_road|attr:"class:form-control"|attr:"placeholder:Enter Approach Road"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.approach_road}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="furnish" class="form-label mb-0">Furnish</label>
                    {{wizard.form.furnish|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.furnish}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="bedrooms" class="form-label mb-0">Bedrooms</label>
                    {{wizard.form.bedrooms|attr:"class:form-control"|attr:"placeholder:Enter Bedroom Count"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.bedrooms}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="bathrooms" class="form-label mb-0">Bathrooms</label>
                    {{wizard.form.bathrooms|attr:"class:form-control"|attr:"placeholder:Enter Bathrooms"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.bathrooms}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="balconies" class="form-label mb-0">Balconies</label>
                    {{wizard.form.balconies|attr:"class:form-control"|attr:"placeholder:Enter Balconies"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.balconies}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="car_parking" class="form-label mb-0">Car Parking</label>
                    {{wizard.form.car_parking|attr:"class:form-control"|attr:"placeholder:Enter Car Parking"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.car_parking}}</div>
                    {% endif %}
                  </div>

                  <div class="card-title mt-3 mb-1">
                    <span class="fs-4 m-0">Price & Commission</span>
                    <hr />
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="maintenance" class="form-label mb-0">Maintenance</label>
                    {{wizard.form.maintenance|attr:"class:form-control"|attr:"placeholder:Enter Maintenance"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.maintenance}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="price" class="form-label mb-0">Price</label>
                    {{wizard.form.price|attr:"class:form-control"|attr:"placeholder:Enter Price"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.price}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="commission" class="form-label mb-0">Commission</label>
                    {{wizard.form.commission|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.commission}}</div>
                    {% endif %}
                  </div>
                  
                  <div class="col-12 mb-2">
                    <div class="form-group">
                      <button type="submit" name="submit" class="btn btn-primary float-end">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_body %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
  <script>
      $("#id_3-available_from").datepicker();
  </script>
{% endblock %}