{% extends "customer/base.html" %}
{% load static widget_tweaks %}

{% block title %}Add Property{% endblock %}

{% block extra_head %}
    <style>
        .nice-select .list {
            max-height: 300px;
            overflow-y: scroll !important;
        }
    </style>
{% endblock %}

{% block content %}
    {% url "core:home" as title_url %}
    {% include "customer/partials/breadcrumb.html" with title="Home" subtitle="Enter Basic Details" title_url=title_url %}

    <!-- Dashboard -->
    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
            <div class="dashboard-main">
                <div class="row">
                    <div>
                        <div class="dashboard-content">
                            <div class="add-listing dashboard-form">
                                <div class="listing-main">
                                    <div class="addlist-inner bg-white">
                                        <div class="addlist-content bg-white">
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                {{ wizard.management_form }}
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label class="form-label">Property Name</label>
                                                                {{wizard.form.name|attr:"class:form-control"|attr:"placeholder:Enter Property Name"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.name}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <label>Posting For</label>
                                                            <div class="input-box">
                                                                {{wizard.form.post_type|attr:"class:niceSelect"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.post_type}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <label>Select Property Type</label>
                                                            <div class="input-box">
                                                                {{wizard.form.type|attr:"class:niceSelect"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.type}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label class="form-label">Description</label>
                                                                {{wizard.form.description|attr:"placeholder:Enter Property Description"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.description}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label class="form-label">Contact No</label>
                                                                {{wizard.form.phone|attr:"placeholder:Enter Phone Number"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.phone}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label class="form-label">Images</label>
                                                                {{wizard.form.images|attr:"class:form-control"|attr:"accept:image/*"|attr:"multiple"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.images}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label class="form-label">Property Latitude</label>
                                                                {{wizard.form.lat|attr:"placeholder:Enter Property Latitude"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.lat}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label class="form-label">Property Longitude</label>
                                                                {{wizard.form.long|attr:"placeholder:Enter Property Longitude"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.long}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label class="form-label">Address</label>
                                                                {{wizard.form.address|attr:"placeholder:Enter Property Address"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.address}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label class="form-label">Property State</label>
                                                                {{wizard.form.state|attr:"class:niceSelect state"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.state}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label>Property City</label>
                                                                {{wizard.form.city|attr:"class:niceSelect"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.city}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label>Property Zip/Postal Code</label>
                                                                {{wizard.form.postal_code|attr:"placeholder:Enter Property Zip/Postal Code"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.postal_code}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                        <div class="form-group">
                                                            <label>Are You RERA Registered Agent</label>
                                                            <div class="input-box">
                                                                {{wizard.form.is_rera_agent|attr:"class:form-check-input"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.is_rera_agent}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-xs-12 mb-2">
                                                        <div class="form-group">
                                                            <div class="input-box">
                                                                <label>Agent RERA Registration Number</label>
                                                                {{wizard.form.rera_number|attr:"placeholder:Enter agent RERA registration number"}}
                                                                {% if form.errors %}<div class="text-danger">{{form.errors.rera_number}}</div>{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <button type="submit" class="nir-btn"><i class="fa fa-plus"></i> Add Listing</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content / End -->
        </div>
    </div>
    <!-- Dashboard / End -->

    <!-- content-line start -->
    <section class="newsletter p-0 position-relative">
        <div class="newsletter-main bg-theme2 p-5 pb-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-2">
                        <div class="newsletter-content">
                            <h2 class="mb-0 white text-lg-start text-center">
                                Do You Need Help With Anything?
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="newsletter-form w-100">
                            <form action="#" method="get" accept-charset="utf-8" class="border-0">
                                <input type="text" placeholder="Email Address">
                                <button class="nir-btn-black">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content-line ends -->
{% endblock %}

{% block extra_body %}
    <script src="{% static "customer/js/jpanelmenu.min.js" %}"></script>
    <script src="{% static "customer/js/dashboard-custom.js" %}"></script>
    <script>
        const cities = {
          "Andaman and Nicobar Islands": ["Port Blair"],
          "Andhra Pradesh": [
              "Visakhapatnam", "Vijayawada", "Guntur", "Nellore", "Kurnool",
              "Rajamahendravaram", "Tirupati", "Kadapa", "Kakinada", "Anantapur",
              "Vizianagaram", "Eluru", "Ongole", "Nandyal", "Machilipatnam",
              "Adoni", "Tenali", "Proddatur", "Chittoor", "Hindupur", "Bhimavaram",
              "Madanapalle", "Guntakal", "Srikakulam", "Dharmavaram", "Gudivada",
              "Narasaraopet", "Tadipatri", "Tadepalligudem", "Amaravati", "Chilakaluripet"
          ],
          "Arunachal Pradesh": ["Itanagar"],
          "Assam": ["Dhuburi", "Dibrugarh", "Dispur", "Guwahati", "Jorhat", "Nagaon", "Sivasagar", "Silchar", "Tezpur", "Tinsukia"],
          "Bihar": [
              "Patna", "Gaya", "Bhagalpur", "Muzaffarpur", "Purnia",
              "Darbhanga", "Bihar Sharif", "Arrah", "Begusarai", "Katihar",
              "Munger", "Chhapra", "Bettiah", "Saharsa", "Hajipur",
              "Sasaram", "Dehri", "Siwan", "Motihari", "Nawada",
              "Bagaha", "Buxar", "Kishanganj", "Sitamarhi", "Jamalpur",
              "Jehanabad", "Aurangabad", "Lakhisarai"
          ],
          "Chandigarh": ["Chandigarh"],
          "Chhattisgarh": ["Raipur", "Durg", "Naya Raipur", "Korba", "Bilaspur", "Rajnandgaon", "Pakhanjore", "Jagdalpur", "Ambikapur", "Chirmiri", "Dhamtari", "Raigarh", "Mahasamund"],
          "Daman and Diu": ["Daman"],
          "Delhi": ["Delhi"],
          "Dadra and Nagar Haveli": ["Silvassa"],
          "Goa": ["Panaji", "Vasco", "Mormugao", "Margao"],
          "Gujarat": [
              "Ahmedabad", "Surat", "Vadodara", "Rajkot", "Bhavnagar",
              "Jamnagar", "Junagadh", "Gandhidham", "Nadiad", "Gandhinagar",
              "Anand", "Morbi", "Khambhat", "Surendranagar", "Bharuch",
              "Vapi", "Navsari", "Veraval", "Porbandar", "Godhra",
              "Bhuj", "Ankleshwar", "Botad", "Patan", "Palanpur",
              "Dahod", "Jetpur", "Valsad", "Kalol", "Gondal",
              "Deesa", "Amreli", "Mahuva", "Mehsana"
          ],
          "Himachal Pradesh": ["Shimla"],
          "Haryana": [
              "Faridabad", "Gurgaon", "Panipat", "Ambala", "Yamunanagar",
              "Rohtak", "Hisar", "Karnal", "Sonipat", "Panchkula",
              "Bhiwani", "Sirsa", "Bahadurgarh", "Jind", "Thanesar",
              "Kaithal", "Rewari", "Palwal"
          ],
          "Jharkhand": [
              "Jamshedpur", "Dhanbad", "Ranchi", "Bokaro Steel City", "Deoghar",
              "Phusro", "Hazaribagh", "Giridih", "Ramgarh", "Medininagar",
              "Chirkunda", "Jhumri Telaiya", "Sahibganj"
          ],
          "Jammu and Kashmir": ["Srinagar", "Jammu", "Anantnag"],
          "Karnataka": [
              "Bengaluru", "Hubli", "Mysore", "Gulbarga", "Mangalore",
              "Belgaum", "Davangere", "Bellary", "Bijapur", "Shimoga",
              "Tumkur", "Raichur", "Bidar", "Hospet", "Hassan",
              "Gadag", "Udupi", "Robertsonpet", "Bhadravati", "Chitradurga",
              "Harihar", "Kolar", "Mandya", "Chikkamagallooru", "Chikmagalur",
              "Gangawati", "Ranebennuru", "Ramanagara", "Bagalkot"
          ],
          "Kerala": [
              "Thiruvananthapuram", "Kochi", "Calicut", "Kollam", "Thrissur",
              "Kannur", "Kasaragod", "Alappuzha", "Palakkad", "Kottayam",
              "Kothamangalam", "Malappuram", "Manjeri", "Thalassery", "Ponnani"
          ],
          "Lakshadweep": ["Kavaratti"],
          "Maharashtra": [
              "Mumbai", "Pune", "Nagpur", "Nashik", "Pimpri-Chinchwad",
              "Aurangabad", "Solapur", "Bhiwandi", "Amravati", "Nanded",
              "Kolhapur", "Sangli-Miraj-Kupwad", "Jalgaon", "Akola", "Latur",
              "Malegaon", "Dhule", "Ahmednagar", "Nandurbar", "Ichalkaranji",
              "Chandrapur", "Jalna", "Parbhani", "Bhusawal", "Satara",
              "Beed", "Pandharpur", "Yavatmal", "Kamptee", "Gondia",
              "Achalpur", "Osmanabad", "Hinganghat", "Wardha", "Barshi",
              "Chalisgaon", "Amalner", "Khamgaon", "Akot", "Udgir",
              "Bhandara", "Parli"
          ],
          "Meghalaya": ["Shillong"],
          "Manipur": ["Imphal"],
          "Madhya Pradesh": [
              "Indore", "Bhopal", "Jabalpur", "Gwalior", "Ujjain",
              "Sagar", "Dewas", "Satna", "Ratlam", "Rewa",
              "Katni", "Singrauli", "Burhanpur", "Khandwa", "Morena",
              "Bhind", "Chhindwara", "Guna", "Shivpuri", "Vidisha",
              "Chhatarpur", "Damoh", "Mandsaur", "Khargone", "Neemuch",
              "Pithampur", "Hoshangabad", "Itarsi", "Sehore", "Betul",
              "Seoni", "Datia", "Nagda", "Dhanpuri", "Dhar", "Balaghat"
          ],
          "Mizoram": ["Aizawl"],
          "Nagaland": ["Dimapur", "Kohima"],
          "Odisha": [
              "Bhubaneswar", "Cuttack", "Rourkela", "Berhampur", "Sambalpur",
              "Puri", "Balasore"
          ]
        };
        $(document).on('click', '.nice-select.state .option:not(.disabled)', function(event){
            let state = $(this).data('value');
            let cityDropdown = document.getElementById("id_0-city");
            cityDropdown.innerHTML = '<option value="">Select a City</option>';
            if (state in cities) {
                cities[state].forEach(city => {
                    let option = new Option(city, city);
                    cityDropdown.appendChild(option);
                });
            }
            $('#id_0-city').niceSelect('update')
        });
    </script>
{% endblock %}