{% extends "customer/base.html" %}
{% load static widget_tweaks %}

{% block title %}Add Property{% endblock %}

{% block extra_head %}
    <style>
        .custom-dropdown {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .selected-option {
            padding: 10px;
            border: 1px solid #ccc;
            cursor: pointer;
            display: block;
        }

        .dropdown-list {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            max-height: 200px;
            /* Set your desired max height */
            overflow-y: auto;
            border: 1px solid #ccc;
            background: white;
            z-index: 10;
        }

        .dropdown-list li {
            padding: 10px;
            cursor: pointer;
            width: 100%;
        }

        .dropdown-list li:hover {
            background-color: #f0f0f0;
        }
        .nice-select .list {
            max-height: 200px;
            overflow-y: scroll !important;
        }
    </style>
{% endblock %}

{% block content %}
    {% url "property:add_customer_property" as title_url %}
    {% include "customer/partials/breadcrumb.html" with title="Post Property" subtitle="Villa Details" title_url=title_url %}

    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
            <div class="dashboard-main">
                <div class="row">
                    <div class="dashboard-content">
                        <div class="add-listing dashboard-form">
                            <div class="listing-main">
                                <div class="addlist-inner bg-white">
                                    <div class="addlist-content bg-white">
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ wizard.management_form }}
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Facing</label>
                                                        <div class="input-box">
                                                            {{wizard.form.facing|attr:"class:niceSelect"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.facing}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Model</label>
                                                        <div class="input-box">
                                                            {{wizard.form.model|attr:"class:niceSelect"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.model}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Transaction</label>
                                                        <div class="input-box">
                                                            {{wizard.form.transaction|attr:"class:niceSelect"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.transaction}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Possession</label>
                                                        <div class="input-box">
                                                            {{wizard.form.possession|attr:"class:niceSelect"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.possession}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Available From</label>
                                                        <div class="input-box">
                                                            {{wizard.form.available_from}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.available_from}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Age</label>
                                                        <div class="input-box">
                                                            {{wizard.form.age|attr:"placeholder:Enter Age"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.age}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Area</label>
                                                        <div class="input-box">
                                                            {{wizard.form.area|attr:"placeholder:Enter Area"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.area}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Plot Area</label>
                                                        <div class="input-box">
                                                            {{wizard.form.plot_area|attr:"placeholder:Enter Plot Area"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.plot_area}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Approach Road</label>
                                                        <div class="input-box">
                                                            {{wizard.form.approach_road|attr:"placeholder:Enter Approach Road"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.approach_road}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Furnish</label>
                                                        <div class="input-box">
                                                            {{wizard.form.furnish|attr:"class:niceSelect"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.furnish}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Bedrooms</label>
                                                        <div class="input-box">
                                                            {{wizard.form.bedrooms|attr:"placeholder:Enter Bedroom Count"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.bedrooms}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Bathrooms</label>
                                                        <div class="input-box">
                                                            {{wizard.form.bathrooms|attr:"placeholder:Enter Bathroom Count"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.bathrooms}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Balconies</label>
                                                        <div class="input-box">
                                                            {{wizard.form.balconies|attr:"placeholder:Enter Balconies"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.balconies}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Car Parking</label>
                                                        <div class="input-box">
                                                            {{wizard.form.car_parking|attr:"placeholder:Enter Car Parking"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.car_parking}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Maintenance</label>
                                                        <div class="input-box">
                                                            {{wizard.form.maintenance|attr:"placeholder:Enter Maintenance"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.maintenance}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Price</label>
                                                        <div class="input-box">
                                                            {{wizard.form.price|attr:"placeholder:Enter Price"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.price}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-12 mb-1">
                                                    <div class="form-group">
                                                        <label>Commission</label>
                                                        <div class="input-box">
                                                            {{wizard.form.commission|attr:"class:niceSelect"}}
                                                            {% if form.errors %}<div class="text-danger">{{form.errors.commission}}</div>{% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="submit" class="nir-btn"><i class="fa fa-plus"></i> Add Listing</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="newsletter p-0 position-relative">
        <div class="newsletter-main bg-theme2 p-5 pb-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-2">
                        <div class="newsletter-content">
                            <h2 class="mb-0 white text-lg-start text-center">
                                Do You Need Help With Anything?
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="newsletter-form w-100">
                            <form action="#" method="get" accept-charset="utf-8" class="border-0">
                                <input type="text" placeholder="Email Address">
                                <button class="nir-btn-black">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_body %}
    <script src="{% static "customer/js/jpanelmenu.min.js" %}"></script>
    <script src="{% static "customer/js/dashboard-custom.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $("#id_2-available_from").datepicker();
    </script>
    <script>
        $(document).ready(function () {
            $(".custom-dropdown").on("click", ".selected-option", function () {
                $(this).siblings(".dropdown-list").slideToggle();
            });

            $(".custom-dropdown").on("click", ".dropdown-list li", function () {
                var selectedOption = $(this).text();
                $(this).parent().siblings(".selected-option").text(selectedOption);
                $(this).parent().slideUp();
            });

            $(document).on("click", function (e) {
                if (!$(e.target).closest('.custom-dropdown').length) {
                    $('.dropdown-list').slideUp();
                }
            });
        });
    </script>
{% endblock %}