{% extends "customer/base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
    {% url "core:about_us" as title_url %}
    {% include "customer/partials/breadcrumb.html" with title="Home" subtitle="About Us" title_url=title_url %}

    <section class="about-us pb-6">
        <div class="container">
            <div class="about-image-box">
                <div class="row d-flex align-items-center justify-content-between">
                    {{object.description|safe}}
                </div>
            </div>
        </div>
    </section>

    <section class="about-us bg-white pb-6 pt-0">
        <div class="container">
            <div class="why-us">
                <div class="why-us-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon">
                                    <i class="flaticon-call theme"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a>Trusted By Thousands</a></h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon">
                                    <i class="flaticon-global theme"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a>Wide Renge Properties</a></h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon">
                                    <i class="flaticon-building theme"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a>Financing Made Easy</a></h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item text-center bg-lgrey">
                                <div class="why-us-icon">
                                    <i class="flaticon-location-pin theme"></i>
                                </div>
                                <div class="why-us-content">
                                    <h4><a>We are here near you</a></h4>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "customer/partials/looking_to_buy.html" %}
    {% include "customer/partials/exclusive.html" %}
    
    <section class="newsletter p-0 position-relative">
        <div class="newsletter-main bg-theme2 p-5 pb-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-2">
                        <div class="newsletter-content">
                            <h2 class="mb-0 white text-lg-start text-center">Do You Need Help With Anything?</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="newsletter-form w-100">
                            <form action="#" method="get" accept-charset="utf-8" class="border-0">
                                <input type="text" placeholder="Email Address">
                                <button class="nir-btn-black">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}