{% extends "customer/base.html" %}

{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}
    {% url "core:faq" as title_url %}
    {% include "customer/partials/breadcrumb.html" with title="Home" subtitle="FAQ" title_url=title_url %}

    <section class="faq-main pb-6 pt-10">
        <div class="container">
            <div class="faq-accordian">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion1">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h5>Who We Are?</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion ">
                                <div class="accrodion-title">
                                    <h5>Wanna know our Special Features?</h5>
                                </div>
                                <div class="accrodion-content" style="display: none;">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h5>Check Your Status</h5>
                                </div>
                                <div class="accrodion-content" style="display: none;">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion ">
                                <div class="accrodion-title">
                                    <h5>Why choose us?</h5>
                                </div>
                                <div class="accrodion-content" style="display: none;">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion ">
                                <div class="accrodion-title">
                                    <h5>How do I post my listing</h5>
                                </div>
                                <div class="accrodion-content" style="display: none;">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion2">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h5>Why my card payment is failing?</h5>
                                </div>
                                <div class="accrodion-content" style="display: block;">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion ">
                                <div class="accrodion-title">
                                    <h5>Can I upload attachments</h5>
                                </div>
                                <div class="accrodion-content" style="display: none;">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h5>Can I create a profile page for business</h5>
                                </div>
                                <div class="accrodion-content" style="display: none;">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion ">
                                <div class="accrodion-title">
                                    <h5>What is the price of posting</h5>
                                </div>
                                <div class="accrodion-content" style="display: none;">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accrodion ">
                                <div class="accrodion-title">
                                    <h5>How do I post my listing</h5>
                                </div>
                                <div class="accrodion-content" style="display: none;">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="call-to-action pb-10 pt-0">
        <div class="container">
            <div class="section-title text-center w-75 mx-auto mb-5 pb-2">
                <h2 class="mb-2">Do You Have Any <span class="theme">Questions?</span></h2>
                <p class="mb-0">As opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'</p>
            </div>  
            <div class="reservation-main w-75 mx-auto px-5">
                <form method="post" action="#" class="">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                           <div class="form-group mb-2">
                                <label>Full Name</label>
                                    <input type="text" id="full-name">
                            </div> 
                        </div>
                        <div class="col-lg-6 col-md-6">
                           <div class="form-group mb-2">
                                <label>Phone No.</label>
                                <input type="text" id="phone-no">
                            </div> 
                        </div>
                        <div class="col-lg-6 col-md-6">
                           <div class="form-group mb-2">
                                <label>Property Type</label>
                                <div class="input-box">
                                    <select class="niceSelect">
                                        <option value="1">Luxury</option>
                                        <option value="2">Deluxe</option>
                                        <option value="3">Premium</option>
                                    </select>
                                </div>                             
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                           <div class="form-group mb-2">
                                <label>Locations</label>
                                <div class="input-box">
                                    <select class="niceSelect">
                                        <option value="1">Input Location</option>
                                        <option value="2">Argentina</option>
                                        <option value="3">Belgium</option>
                                        <option value="4">Canada</option>
                                        <option value="5">Denmark</option>
                                    </select>
                                </div> 
                            </div> 
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group mb-2">
                            <label>Message</label>
                            <textarea name="message" placeholder="Type your message here..."></textarea>
                           </div>
                       </div>
                    </div>
                    
                    <div class="comment-btn text-center">
                        <input type="submit" class="nir-btn" id="submit2" value="Send Message">
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% include "customer/partials/looking_to_buy.html" %}
    {% include "customer/partials/exclusive.html" %}
    {% include "customer/partials/email_subscribe.html" %}
{% endblock %}

{% block extra_body %}
    <script src="{% static "customer/js/custom-accordian.js" %}"></script>
{% endblock %}
