{% extends "customer/base.html" %}
{% load static %}

{% block title %}Properties{% endblock %}

{% block content %}
  {% url "property:property_list" as title_url %}
  {% include "customer/partials/breadcrumb.html" with title="Dashboard" subtitle="Listing" title_url=title_url %}
  
  <section class="blog">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-8">
          <div class="listing-inner">
            <div class="list-results d-flex align-items-center justify-content-between">
              <div class="list-results-sort">
                <p class="m-0">Showing {{ page_obj.object_list.count }} of {{ page_obj.paginator.count }} results</p>
              </div>
              <div class="click-menu d-flex align-items-center justify-content-between">
                <div class="sortby d-flex align-items-center justify-content-between ml-2">
                  <a href="{% url "property:property_list" %}" class="me-2">Clear Filters</a>
                  <form action="{% url "property:property_list" %}" method="get">
                    <select class="niceSelect" name="sort" onchange="this.form.submit()">
                      <option value="">Sort By</option>
                      <option {% if request.GET.sort == "rating" %}selected{% endif %} value="rating">Rating</option>
                      <option {% if request.GET.sort == "price" %}selected{% endif %} value="price">Price: low to high</option>
                      <option {% if request.GET.sort == "-price" %}selected{% endif %} value="-price">Price: high to low</option>
                    </select>
                  </form>
                </div>
              </div>
            </div>
            {% for object in object_list %}
              <div class="blog-full mb-4 border-b pb-4">
                <div class="row">
                  <div class="col-lg-5 col-md-4">
                    <div class="blog-image">
                      <a href="#" style="background-image: url({{object.images.0.image.url}});"></a>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-8">
                    <div class="blog-content">
                      <h5 class="theme mb-2">{{object.type.name}}</h5>
                      <h4 class="mb-2">
                        <a href="{% url "property:property" pk=object.pk %}" class="">{{object.name}}</a>
                      </h4>
                      <div class="d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                        <div class="entry-price">Start From<span class="d-block theme fw-bold">Rs. {{object.details.price}}</span>
                        </div>
                        <div class="entry-metalist d-flex align-items-center">
                          <ul>
                            <li class="me-2"><i class="fa fa-eye"></i></li>
                            <li class="me-2"><i class="fa fa-heart"></i></li>
                          </ul>
                        </div>
                      </div>
                      <p class="mb-2">{{object.address}}</p>
                      <div class="css-1bcji2n pb-1">By
                        <a class="css-l2kny5"><span data-q="dev-name">Samarth Drushti Developers</span></a><span data-q="dev-name">(Builder)</span>
                      </div>
                      <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                        <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                        <li class="me-2">
                          <i class="fa fa-heart"></i> 2 Baths
                        </li>
                        <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

            {% if object_list %}
              <div class="pagination-main text-center">
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                    <li><a href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                  {% endif %}
                  {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                      <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                      <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <li><a href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>

        <!-- sidebar -->
        {% include "customer/partials/filter-card.html" %}
        <!-- sidebar -->
      </div>
    </div>
  </section>

  {% include "customer/partials/looking_to_buy.html" %}
  {% include "customer/partials/email_subscribe.html" %}
{% endblock %}


{% block extra_body %}
  <script>
    
  </script>
{% endblock %}