{% extends "customer/base.html" %}
{% load static widget_tweaks %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    {% url "core:home" as title_url %}
    {% include "customer/partials/breadcrumb.html" with title="Home" subtitle="Forgot Password" title_url=title_url %}

    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
            <div class="dashboard-main">
                <div class="row">
                    <div class="dashboard-content">
                        <div class="add-listing dashboard-form">
                            <div class="listing-main">
                                <div class="addlist-inner bg-white">
                                    <div class="addlist-content bg-white">
                                        <form method="post">
                                            {% csrf_token %}
                                            {{form.as_p}}
                                            <div class="col-lg-12">
                                                <button type="submit" class="nir-btn">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script src="{% static "customer/js/jpanelmenu.min.js" %}"></script>
    <script src="{% static "customer/js/dashboard-custom.js" %}"></script>
{% endblock %}
 