{% extends "customer/base.html" %}
{% load static %}

{% block title %}Property Details{% endblock %}

{% block content %}
    {% url "core:properties" pk=1 as title_url %}
    {% include "customer/partials/breadcrumb.html" with title="Listing" subtitle="Details" title_url=title_url %}

    <div class="page-banner p-0">
        <div class="page-banner-in overflow-hidden">
            <div class="row shop-slider">
                <div class="col-lg-4 p-0">
                    <div class="page-banner-img" style="background-image: url({% static "customer/images/Carousal/carousal-4.png" %});"></div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="page-banner-img" style="background-image: url({% static "customer/images/Carousal/carousal-1.png" %});"></div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="page-banner-img" style="background-image: url({% static "customer/images/Carousal/carousal-2.png" %});"></div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="page-banner-img" style="background-image: url({% static "customer/images/Carousal/carousal-3.png" %});"></div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="page-banner-img" style="background-image: url({% static "customer/images/Carousal/carousal-4.png" %});"></div>
                </div>
            </div>
        </div>
    </div>

    <section class="blog">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-12">
                    <div class="detail-maintitle border-b pb-4 mb-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-8">
                                <ul class="detail-inline d-flex align-items-center mb-2">
                                    <li class="detail-inline-item bg-theme1 px-4 py-1 white me-3">Featured</li>
                                    <li class="detail-inline-item bg-theme px-4 py-1 white me-3">For Sale</li>
                                    <li class="detail-inline-item"><i class="fa fa-clock me-1"></i>1 months ago
                                    </li>
                                </ul>
                                <div class="detail-maintitle-in">
                                    <h2 class="mb-1">Triplex Villa / independent House-in-SRS Villas-for-Sale-in-patancheruvu-Hyderabad
                                    </h2>
                                    <p><i class="fa fa-map-marker-alt me-2"></i>BR nagar, patancheruvu, Hyderabad, Telangana</p>
                                </div>
                                <div class="css-1bcji2n">By <a class="css-l2kny5" target="_blank" href="/buy-projects-by-samarth-drushti-developers-bid-25814818-Ahcvq1t516w50k4injluy3neb"><span data-q="dev-name">Samarth Drushti Developers</span></a><span data-q="dev-name">(Builder)</span></div>
                            </div>
                            <div class="col-lg-4">
                                <div class="entry-price text-lg-end text-start">
                                    <h3 class="mb-0"><span class="d-block theme fs-5 fw-normal">Start From</span> Rs. 54,00,000</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog-single">
                        <div class="blog-wrapper">
                            <div class="blog-content first-child-cap">
                                <p class="mb-3">The property, complete with a 30-seat screening room, a 100-seat amphitheater and a swimming pond with sandy beach and outdoor shower, was asking about $40 million. Lorem ipsum dolor sit amet, consectetur adipis Vi ales elit vitae lo bortis faucibus. Lorem ipsum dolor sit amet, conse dolor sit amet, consectetu ctetur adipis Viales. Lorem ipsum dolor sit amet, cons sit amet, consectetur adi ectetur adipis Vi.</p>
                                <div class="position-relative mb-3">
                                    <img src="{% static "customer/images/looking_to_buy.png" %}" alt="image">
                                </div>
                                <p class="mb-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                            </div>

                            <div class="property-detail mb-4 bg-lgrey p-4 border">
                                <h4 class="border-b pb-2">Property Details</h4>
                                <div class="row">
                                    <div class="col-lg">
                                        <ul class="pro-inline-item">
                                            <li class="d-block fw-bold lh-lg">Property ID : <span class="fw-normal float-end">HZ27</span></li>
                                            <li class="d-block fw-bold lh-lg">Price : <span class="fw-normal float-end">$130,000</span></li>
                                            <li class="d-block fw-bold lh-lg">Property Size : <span class="fw-normal float-end">1560 Sq Ft</span></li>
                                            <li class="d-block fw-bold lh-lg">Year Built : <span class="fw-normal float-end">2021-01-09</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg">
                                        <ul class="pro-inline-item">
                                            <li class="d-block fw-bold lh-lg">Bedrooms  : <span class="fw-normal float-end">4</span></li>
                                            <li class="d-block fw-bold lh-lg">Bathrooms  : <span class="fw-normal float-end">4</span></li>
                                            <li class="d-block fw-bold lh-lg">Garage  : <span class="fw-normal float-end">Yes</span></li>
                                            <li class="d-block fw-bold lh-lg">Parking : <span class="fw-normal float-end">Yes</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="property-detail mb-4 bg-grey p-4">
                                <h4 class="border-bottom pb-2">Offices Amenities</h4>
                                <div class="row">
                                    <div class="col-lg">
                                        <ul class="pro-inline-item">
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Balcony</li>
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Air Conditioning</li>
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Fireplace</li>
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Dining room</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg">
                                        <ul class="pro-inline-item">
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Basement</li>
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Cooling</li>
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Lawn</li>
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Dishwasher</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg">
                                        <ul class="pro-inline-item">
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Microwave</li>
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> TV Cable</li>
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> WiFi</li>
                                            <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Refrigerator</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="blog-imagelist mb-4">
                                <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <img src="{% static "customer/images/Featured Property/Featured Property-12.png" %}" alt="image">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <img src="{% static "customer/images/Featured Property/Featured Property-6.png" %}" alt="image">
                                </div>
                                </div>
                            </div>    
                            <p class="mb-4">as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                            <div class="blog-share d-flex justify-content-between align-items-center mb-4 bg-lgrey border">
                                <div class="blog-share-tag">
                                    <ul class="inline">
                                        <li><strong>Posted In:</strong></li>    
                                        <li><a href="#">Fashion,</a></li>
                                        <li><a href="#">Beauty,</a></li>
                                        <li><a href="#">Vacation,</a></li>
                                        <li><a href="#">Travel,</a></li>
                                        <li><a href="#">News</a></li>
                                    </ul>
                                </div>
                                <div class="header-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="single-comments single-box mb-4">
                            <h4 class="mb-4">Showing 16 verified guest comments</h4>
                            <div class="comment-box">
                                <div class="comment-image mt-2">
                                    <img src="{% static "customer/images/mystery-man.webp" %}" alt="image">
                                </div>
                                <div class="comment-content">
                                    <h4 class="mb-1 Soldman Kell">Akash Detroja</h4>
                                    <p class="comment-date">January 25, 2024 at 10:46 am</p>
                                    <div class="comment-rate">
                                        <div class="rating mar-right-15">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        <span class="comment-title">"It's a nice locality with walking proximity"</span>
                                    </div>    
                                    <p class="comment">Take in the iconic skyline and visit the neighbourhood hangouts that you've only ever seen on TV. Take in the iconic skyline and visit the neighbourhood.</p>
                                    <div class="comment-like">
                                        <div class="like-title float-left">
                                            <a href="#" class="nir-btn mr-2">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-box">
                                <div class="comment-image mt-2">
                                    <img src="{% static "customer/images/mystery-man.webp" %}" alt="image">
                                </div>
                                <div class="comment-content">
                                    <h4 class="mb-1">Shushmita Roy</h4>
                                    <p class="comment-date">January 2, 2024 at 10:46 am</p>
                                    <div class="comment-rate">
                                        <div class="rating mar-right-15">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        <span class="comment-title">"Soothing locality with lots of temples around "</span>
                                    </div> 
                                    
                                    <p class="comment">Take in the iconic skyline and visit the neighbourhood hangouts that you've only ever seen on TV. Take in the iconic skyline and visit the neighbourhood.</p>
                                    <div class="comment-like">
                                        <div class="like-title float-left">
                                            <a href="#" class="nir-btn">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bigyapan mb-4">
                            <a href="#"><img src="{% static "customer/images/Details-img.jpg" %}" alt=""></a>
                        </div>

                        <div class="single-add-review">
                            <div class="pb-1"><h3 class="" style="margin-bottom: auto;">Contact To</h3><a class="" target="_blank" href="/buy-projects-by-samarth-drushti-developers-bid-25814818-Ahcvq1t516w50k4injluy3neb">
                                <span data-q="dev-name">Samarth Drushti Developers</span></a><span data-q="dev-name">(Builder)</span>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-2">
                                            <input type="text" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-2">
                                            <input type="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mb-1">
                                        <div class="form-group">
                                            <textarea>Comment</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-btn">
                                            <a href="#" class="nir-btn">Submit Review</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-sticky">
                        <div class="list-sidebar">
                            <div class="sidebar-item mb-4 box-shadow p-4 text-centerb">
                                <h3>Find your home</h3>
                                <form class="form-find">
                                    <div class="form-group mb-2">
                                        <input type="text" placeholder="Enter Keywords">
                                    </div>
                                    <div class="form-group mb-2">
                                        <div class="input-box">
                                            <select class="niceSelect">
                                                <option data-display="" value="" disabled selected>Location</option>
                                                <option value="Gandhinagar" >Gandhinagar-Gujarat</option>
                                                <option value="Vadodara" >Vadodara-Gujarat</option>
                                                <option value="Junagadh" >Junagadh-Gujarat</option>
                                                <option value="Rajkot" >Rajkot-Gujarat</option>
                                                <option value="Surat" >Surat-Gujarat</option>
                                                <option value="Ahmedabad" >Ahmedabad-Gujarat</option>
                                                <option value="Chandigarh" >Chandigarh-Haryana</option>
                                                <option value="Ambala" >Ambala-Haryana</option>
                                                <option value="Panipat" >Panipat-Haryana</option>
                                                <option value="Sonipat" >Sonipat-Haryana</option>
                                                <option value="Gurgaon" >Gurgaon-Haryana</option>
                                                <option value="Faridabad" >Faridabad-Haryana</option>
                                                <option value="Dharamshala" >Dharamshala-Himachal Pradesh</option>
                                                <option value="Ambala" >Ambala-Haryana</option>
                                                <option value="Panipat" >Panipat-Haryana</option>
                                                <option value="Sonipat" >Sonipat-Haryana</option>
                                                <option value="Gurgaon" >Gurgaon-Haryana</option>
                                                <option value="Faridabad" >Faridabad-Haryana</option>
                                                <option value="Dharamshala" >Dharamshala-Himachal Pradesh</option>
                                                <option value="Shimla" >Shimla-Himachal Pradesh</option>
                                            </select>
                                        </div> 
                                    </div>
                                    <div class="form-group mb-2">
                                        <div class="input-box">
                                            <select class="niceSelect">
                                                <option  value="All">All</option>
                                                <option value="5" >Agriculture Land</option>
                                                <option value="1" >Flat/Apartment</option>
                                                <option value="4" >Office/Commercial Space</option>
                                                <option value="3" >Open Plot</option>
                                                <option value="6" >Villa/Independent House</option>
                                            </select>
                                        </div> 
                                    </div>
                                    <div class="form-group mb-2">
                                        <div class="input-box">
                                            <select class="niceSelect">
                                                <option value="1">All Status</option>
                                                <option value="2">For Rent</option>
                                                <option value="3">For Sale</option>
                                            </select>
                                        </div> 
                                    </div>
                                    <div class="form-group mb-2 d-flex justify-content-between">
                                        <div class="input-box w-50 me-1">
                                            <select class="niceSelect">
                                                <option value="1">Bedrooms</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div> 
                                        <div class="input-box w-50 ms-1">
                                            <select class="niceSelect">
                                                <option value="1">Bathrooms</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>  
                                    </div>
                                    <div class="form-group mb-2">
                                        <div class="range-slider mt-0">
                                            <p class="text-start mb-2">Price Range</p>
                                            <div data-min="0" data-max="2000" data-unit="$" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                                                <span class="min-value">RS. 0</span> 
                                                <span class="max-value">RS. 100000000</span>
                                                <div class="ui-slider-range ui-widget-header ui-corner-all full" style="left: 0%; width: 100%;"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-2">
                                        <div class="range-slider mt-0">
                                            <p class="text-start mb-2">Area Size</p>
                                            <div data-min="0" data-max="2000" data-unit="$" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                                                <span class="min-value">100 sqft</span> 
                                                <span class="max-value">20000 sqft</span>
                                                <div class="ui-slider-range ui-widget-header ui-corner-all full" style="left: 0%; width: 100%;"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="form-group text-center w-100">
                                        <input type="submit" class="nir-btn w-100" id="submit3" value="Search">
                                    </div>
                                </form>
                            </div>

                            <div class="sidebar-item trending">
                                <h3 class="">Related Property</h3>
                                <div class="trend-box">
                                    <div class="about-slider">
                                        <div>
                                            <div class="trend-item box-shadow">
                                                <div class="trend-image">
                                                    <img src="{% static "customer/images/Featured Property/Featured Property-3.png" %}" alt="image">
                                                    <a href="#" class="flash bg-theme1 white px-3 py-2"><i class="fa fa-flash"></i></a>
                                                    <div class="trend-meta d-flex align-items-center justify-content-between">
                                                        <div class="entry-author">
                                                            <img src="{% static "customer/images/mystery-man.webp" %}" alt="" class="rounded-circle me-1">
                                                            <span>Shruti Vyas</span>
                                                        </div>
                                                        <a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1">For Rent</a>
                                                    </div>
                                                </div>
                                                <div class="trend-content p-4">
                                                    <h5 class="theme">Apartment</h5>
                                                    <h4><a href="detail-rightside.html">Triplex Villa / Independent House-In-SRS Villas-For-Sale-In-Patancheruvu-Hyderabad</a></h4>
                                                    <div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                                        <div class="entry-author">
                                                            <p>Start From<span class="d-block theme fw-bold">Rs. 84,00,000</span></p>
                                                            
                                                        </div>
                                                        <div class="entry-metalist d-flex align-items-center">
                                                            <ul>
                                                                <li class="me-2"><i class="fa fa-eye"></i></li>
                                                                <li class="me-2"><i class="fa fa-heart"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0">WE HAVE A LEGACY OF OVER 25+ YEARS. The Chaitanya Group has been at the forefront of creating life-stories. Since our first project, we have always been known and valued for delivering on our promise.</p>
                                                </div>
                                                <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                                    <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                                    <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                                    <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="trend-item box-shadow">
                                                <div class="trend-image">
                                                    <img src="{% static "customer/images/Featured Property/Featured Property-14.png" %}" alt="image">
                                                    <a href="#" class="flash bg-theme1 white px-3 py-2"><i class="fa fa-flash"></i></a>
                                                    <div class="trend-meta d-flex align-items-center justify-content-between">
                                                        <div class="entry-author">
                                                            <img src="{% static "customer/images/mystery-man.webp" %}" alt="" class="rounded-circle me-1">
                                                            <span>UNIMONT GROUP</span>
                                                        </div>
                                                        <a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1">For Rent</a>
                                                    </div>
                                                </div>
                                                <div class="trend-content p-4">
                                                    <h5 class="theme">Villa</h5>
                                                    <h4><a href="detail-rightside.html">Jogeshwari West, Western Suburbs, Mumbai</a></h4>
                                                    <div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                                        <div class="entry-author">
                                                            <p>Start From<span class="d-block theme fw-bold">Rs. 12000000</span></p>
                                                            
                                                        </div>
                                                        <div class="entry-metalist d-flex align-items-center">
                                                            <ul>
                                                                <li class="me-2"><i class="fa fa-eye"></i></li>
                                                                <li class="me-2"><i class="fa fa-heart"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0">Located close to prominent suburbs of Mumbai, the area of Jogeshwari West has prominent schools and hospitals within a close distance.</p>
                                                </div>
                                                <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                                    <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                                    <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                                    <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar-item top-post">
                                <h3>Popular Destination</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                        <div class="trend-item">
                                            <div class="trend-image">
                                                <img src="{% static "customer/images/Mumbai.png" %}" alt="image">
                                                <div class="trend-content pt-2">
                                                    <h6 class="mb-0"><a href="listing-leftfilter.html">Hyderabad</a></h6>
                                                    <span>28 Properties</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                        <div class="trend-item">
                                            <div class="trend-image">
                                                <img src="{% static "customer/images/Mumbai.png" %}" alt="image">
                                                <div class="trend-content pt-2">
                                                    <h6 class="mb-0"><a href="listing-leftfilter.html">Vijayawada</a></h6>
                                                    <span>45 Properties</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                        <div class="trend-item">
                                            <div class="trend-image">
                                                <img src="{% static "customer/images/Popular Cities 110_720/Bangalore.png" %}" alt="image">
                                                <div class="trend-content pt-2">
                                                    <h6 class="mb-0"><a href="listing-leftfilter.html">Bangalore</a></h6>
                                                    <span>32 Properties</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="trend-item">
                                            <div class="trend-image">
                                                <img src="{% static "customer/images/Popular Cities 110_720/Kolkata.png" %}" alt="image">
                                                <div class="trend-content pt-2">
                                                    <h6 class="mb-0"><a href="listing-leftfilter.html">Chennai</a></h6>
                                                    <span>51 Properties</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="discount-action pt-0">
        <div class="container">
            <div class="call-banner" style="background-image: url({% static "customer/images/looking_to_buy.png" %});">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 col-md-8 p-0">
                        <div class="call-banner-inner bg-theme1">
                            <div class="trend-content-main">
                                <div class="trend-content p-5">
                                    <h5 class="mb-1 white">Wanna to Sell Or Rent??</h5>
                                    <h2 class="mb-4 white">Looking to Buy a New Property or Sell an Existing One?</h2>
                                    <div class="section-btns d-flex align-items-center">
                                        <a href="grid-leftfilter.html" class="nir-btn me-4">Rent Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                        <a href="grid-rightfilter.html" class="nir-btn">Buy Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-6 col-md-4 p-0"></div> 
                </div> 
            </div>   
            <div class="partner-wrapper bg-white p-4">
                <ul class="attract-slider">
                    <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-1.png" %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-2.png" %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-3.png" %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-4.png" %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-5.png" %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-1.png" %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-2.png" %}" alt=""></a></li>
                    <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-3.png" %}" alt=""></a></li>
                </ul>
            </div> 
        </div>    
    </section>

    <section class="insta-main pt-0">
        <div class="container">
            <div class="insta-inner">
            <div class="follow-button"><a href="https://www.instagram.com/property_visit/">
                <h5 class="m-0"><i class="fab fa-instagram"></i> Follow on Instagram</h5></a>
            </div>
            <div class="row attract-slider">
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static "customer/images/Carousal/carousal-2.png" %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static "customer/images/Carousal/carousal-1.png" %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static "customer/images/Carousal/carousal-3.png" %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static "customer/images/Carousal/carousal-4.png" %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static "customer/images/Carousal/carousal-5.png" %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static "customer/images/Carousal/carousal-1.png" %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static "customer/images/Carousal/carousal-4.png" %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static "customer/images/Carousal/carousal-4.png" %}" alt="insta"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="insta-image">
                        <a href="gallery.html"><img src="{% static "customer/images/Carousal/carousal-4.png" %}" alt="insta"></a>
                    </div>
                </div>
            </div>
            </div>    
        </div>
    </section>

    <div class="content-line m-0">
        <div class="content-line-inner bg-theme2 pb-6 pt-6 p-5">
            <div class="container">
                <div class="row d-md-flex align-items-center justify-content-between text-lg-start text-center">
                <div class="col-lg-9">
                    <h2 class="mb-0 white">
                        Looking for a dream home?
                    </h2>
                    <p class="white">We can help you realize your dream of a new home</p>
                </div>
                <div class="col-lg-3">
                    <a href="listing-leftfilter.html" class="nir-btn-black float-lg-end float-none">Fine More Properties</a>
                </div>
                </div>
            </div>
        </div>   
    </div>
{% endblock %}

