{% extends "customer/base.html" %}
{% load static %}

{% block title %}Subscription Plans{% endblock %}

{% block extra_head %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
    {% url "core:home" as title_url %}
    {% include "customer/partials/breadcrumb.html" with title="Home" subtitle="Subscription Plans" title_url=title_url %}

    <section  id="subscription_plan" class="bg-lgrey border-bottom border-t pb-6">
        <div class="container">
            <div class="section-title mb-6 pb-1 w-75 mx-auto text-center">
                <h2 class="m-0">Featured <span>Pricing</span></h2>
                <p>Subscribe to Premium today to save 50,000 on brokerage, along with other benefits.</p>
            </div>  
            <div class="row">
                {% for object in object_list %}
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="pkg-container text-center box-shadow p-4 border">
                            <div class="pg-title">
                                <i class="icon fas fa-rocket display-6 bg-theme1 mb-2 white"></i>
                                <h4 class="theme mb-0">{{object.name}}</h4>
                                <h2 class="theme2"><i class="fas fa-rupee-sign"></i> {{object.price}}</h2>
                            </div>
                            <div class="pg-main">
                                <ul class='d-flex flex-column'>
                                    <li><i class="fas fa-check"></i> <strong class='text-success'>{{ object.max_listings }}</strong> Property Listings</li>
                                    <li><i class="fas fa-check"></i> <strong class='text-success'>{{ object.duration_days }}</strong> Days</li>
                                    <li><i class="fas fa-check"></i> <strong class='text-success'>{{ object.max_ads }}</strong> Advertisements</li>
                                </ul>
                                <div>
                                    {{object.description|safe}}
                                </div>
                                <button class="btn nir-btn mt-2" onclick="SubscribePlan({{object.id}})">Subscribe</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "customer/partials/looking_to_buy.html" %}
    {% include "customer/partials/exclusive.html" %}
    
    <section class="newsletter p-0 position-relative">
        <div class="newsletter-main bg-theme2 p-5 pb-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-2">
                        <div class="newsletter-content">
                            <h2 class="mb-0 white text-lg-start text-center">Do You Need Help With Anything?</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="newsletter-form w-100">
                            <form action="#" method="get" accept-charset="utf-8" class="border-0">
                                <input type="text" placeholder="Email Address">
                                <button class="nir-btn-black">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_body %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function SubscribePlan(id){
            fetch('{% url "subscription:stripe_config" %}')
            .then(res=>res.json())
            .then(data=>{
                const stripe = Stripe(data.publicKey);
                let csrftoken = getCookie('csrftoken');
                
                fetch('{% url "subscription:checkout" %}',{
                    method:"POST",
                    headers:{
                        'X-CSRFToken':csrftoken,
                    }
                })
                .then(res=>res.json())
                .then(data=>{
                    console.log(data);
                    return stripe.redirectToCheckout({sessionId: data.sessionId})
                })
                .then(res=>{
                    console.log(res);
                })
            })
        }
    </script>
{% endblock %}