{% extends "customer/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_head %}
    <!--dashboard CSS-->
    <link href="{% static "customer/css/dashboard.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% url "accounts:account" as title_url %}
    {% include "customer/partials/breadcrumb.html" with title="Dashboard" subtitle="My Dashboard" title_url=title_url %}

    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
            <div class="dashboard-main">
                <div class="row">
                    {% include "customer/partials/profile-card.html" %}
                    
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">    
                        <div class="dashboard-content">
                            <div class="row mb-4">
                                <div class="col-lg-12">
                                    <div class="notification success bg-theme">
                                        <p class="m-0">Your listing For Skyline Oasis appartment has been approved!</p>
                                        <a class="notification-close" href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-12 col-xs-12">
                                    <div class="dashboard-stat mb-4">
                                        <div class="dashboard-stat-content"><h2 class="theme2 mb-0">{{active_listings}}</h2> <span>Active Listings</span></div>
                                        <div class="dashboard-stat-icon"><i class="im im-icon-Map2"></i></div>
                                        <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-xs-12">
                                    <div class="dashboard-stat mb-4">
                                        <div class="dashboard-stat-content"><h2 class="theme2 mb-0">726</h2> <span>Total Bookings</span></div>
                                        <div class="dashboard-stat-icon"><i class="im im-icon-Line-Chart"></i></div>
                                        <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-xs-12">
                                    <div class="dashboard-stat mb-4">
                                        <div class="dashboard-stat-content"><h2 class="theme2 mb-0">95</h2> <span>Total Reviews</span></div>
                                        <div class="dashboard-stat-icon"><i class="im im-icon-Add-UserStar"></i></div>
                                        <div class="dashboard-stat-item"><p>Someone bookmarked your listing!</p></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="dashboard-list-box with-icons">
                                        <div class="dashboard-title">
                                            <h4 class="mb-0">City Campaigns</h4>
                                            <p class="mb-0">Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                        </div>
                                        <div class="table-responsive table-desi">
                                            <table class="basic-table table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>City</th>
                                                        <th>Client</th>
                                                        <th>Changes</th>
                                                        <th>Budget</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><span class="">Ahmedabad</span></td>
                                                        <td>Satish</td>
                                                        <td><span class="txt-success"><i class="fa fa-angle-up" aria-hidden="true"></i><span>2.43%</span></span></td>
                                                        <td><span class="">RS. 85000</span></td>   
                                                        <td><span class="label text-success">Active</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="">Mumbai</span></td>
                                                        <td>Shital</td>
                                                        <td><span class="txt-success"><i class="fa fa-angle-up" aria-hidden="true"></i><span>1.43%</span></span></td>
                                                        <td><span class="">RS. 54000</span></td>
                                                        <td><span class="label text-danger">Closed</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="">Bangalore</span>
                                                        </td>
                                                        <td>Gutam</td>
                                                        <td><span class="txt-success"><i class="fa fa-angle-up" aria-hidden="true"></i><span>8.43%</span></span>
                                                        </td>
                                                        <td>
                                                            <span class="">RS. 66000</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-primary">Hold</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="">Kolkata</span>
                                                        </td>
                                                        <td>Ashish</td>
                                                        <td><span class="txt-success"><i class="fa fa-angle-up" aria-hidden="true"></i><span>7.43%</span></span>
                                                        </td>
                                                        <td>
                                                            <span class="">RS. 85000</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-primary">Hold</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="">Delhi</span>
                                                        </td>
                                                        <td>Devansh</td>
                                                        <td><span class="txt-success"><i class="fa fa-angle-up" aria-hidden="true"></i><span>9.43%</span></span>
                                                        </td>
                                                        <td>
                                                            <span>Rs. 60000</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-success">Active</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>  
                            </div>

                            <div class="row mb-4">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="dashboard-list-box with-icons">
                                        <div class="dashboard-title">
                                            <h4 class="mb-0">User Details</h4>
                                            <p class="mb-0">Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                        </div>
                                        <div class="table-responsive table-desi">
                                            <table class="basic-table table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>User</th>
                                                        <th>Name</th>
                                                        <th>Phone</th>
                                                        <th>Email</th>
                                                        <th>City</th>
                                                        <th>Enquiry</th>
                                                        <th>Bookings</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><span class="list-img"><img src="images/lead_profile/closeup-smiling-young-beautiful-indian-woman_1262-2261.webp" alt="" class="w-50"></span>
                                                        </td>
                                                        <td><a href="#"><span>Anupam Sharam</span></a>
                                                        </td>
                                                        <td>+91 9678 958706</td>
                                                        <td>anupaminfra46@.com</td>
                                                        <td>Mumbai</td>
                                                        
                                                        <td>
                                                            <span class="label text-danger">12</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-success">24</span>
                                                        </td>
                                                    
                                                    </tr>
                                                    <tr>
                                                        <td><span class="list-img"><img src="images/lead_profile/young-handsome-indian-businessman_251136-38211.webp" alt="" class="w-50"></span>
                                                        </td>
                                                        <td><a href="#"><span>Anupam Sharam</span></a>
                                                        </td>
                                                        <td>+91 9678 958706</td>
                                                        <td>anupaminfra46@.com</td>
                                                        <td>Mumbai</td>
                                                        
                                                        <td>
                                                            <span class="label text-danger">12</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-success">24</span>
                                                        </td>
                                                    
                                                    </tr>
                                                    <tr>
                                                        <td><span class="list-img"><img src="images/lead_profile/photo-1607346256330-dee7af15f7c5.jpg" alt="" class="w-50"></span>
                                                        </td>
                                                        <td><a href="#"><span>Anupam Sharam</span></a>
                                                        </td>
                                                        <td>+91 9678 958706</td>
                                                        <td>anupaminfra46@.com</td>
                                                        <td>Mumbai</td>
                                                        
                                                        <td>
                                                            <span class="label text-danger">12</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-success">24</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="list-img"><img src="images/lead_profile/premium_photo-1682089892133-556bde898f2c.jpg" alt="" class="w-50"></span>
                                                        </td>
                                                        <td><a href="#"><span>Anupam Sharam</span></a>
                                                        </td>
                                                        <td>+91 9678 958706</td>
                                                        <td>anupaminfra46@.com</td>
                                                        <td>Mumbai</td>
                                                        
                                                        <td>
                                                            <span class="label text-danger">12</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-success">24</span>
                                                        </td>
                                                    
                                                    </tr>
                                                    <tr>
                                                        <td><span class="list-img"><img src="images/lead_profile/young-handsome-indian-businessman_251136-38211.webp" alt="" class="w-50"></span>
                                                        </td>
                                                        <td><a href="#"><span>Anupam Sharam</span></a>
                                                        </td>
                                                        <td>+91 9678 958706</td>
                                                        <td>anupaminfra46@.com</td>
                                                        <td>Mumbai</td>
                                                        
                                                        <td>
                                                            <span class="label text-danger">12</span>
                                                        </td>
                                                        <td>
                                                            <span class="label text-success">24</span>
                                                        </td>
                                                    
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="row">      
                                <div class="col-lg-7 col-md-12 col-xs-12 traffic">
                                    <div class="dashboard-list-box with-icons">
                                        <div class="dashboard-title">
                                            <h4 class="mb-0">Listing Enquiry</h4>
                                            <p class="mb-0">Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                                        </div>
                                        <div class="table-responsive table-desi">
                                            <table class="basic-table table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Listing</th>
                                                        <th>Name</th>
                                                        <th>Date</th>
                                                        <th>City</th>
                                                        <th>Enquiry</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        
                                                        <td><span class="list-img"><img src="images/lead_profile/young-handsome-indian-businessman_251136-38211.webp" alt="" class="w-50"></span>
                                                        </td>
                                                        <td><span>Taaj Club,Gujarat</span>
                                                        </td>
                                                        <td>12 may</td>
                                                        <td>Ahmedabad</td>
                                                        <td>
                                                            <span class="label text-success">15</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        
                                                        <td><span class="list-img"><img src="images/lead_profile/young-handsome-indian-businessman_251136-38211.webp" alt="" class="w-50"></span>
                                                        </td>
                                                        <td><span>Grand Hotel,Maharashtra</span>
                                                        </td>
                                                        <td>07 aug</td>
                                                        <td>Mumbai</td>
                                                        <td>
                                                            <span class="label text-success">05</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="list-img"><img src="images/lead_profile/young-handsome-indian-businessman_251136-38211.webp" alt="" class="w-50"></span>
                                                        </td>
                                                        <td><span>Grand Pales,Gujarat</span>
                                                        </td>
                                                        <td>18 jun</td>
                                                        <td>Gandhinagar</td>
                                                        <td>
                                                            <span class="label text-success">35</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="list-img"><img src="images/lead_profile/young-handsome-indian-businessman_251136-38211.webp" alt="" class="w-50"></span>
                                                        </td>
                                                        <td><span>Palace Hotel, Maharashtra</span>
                                                        </td>
                                                        <td>09 apr</td>
                                                        <td>Lonavala</td>
                                                        <td>
                                                            <span class="label text-success">24</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="list-img"><img src="images/lead_profile/young-handsome-indian-businessman_251136-38211.webp" alt="" class="w-50"></span>
                                                        </td>
                                                        <td><span>First Hotel,Gujarat</span>
                                                        </td>
                                                        <td>21 jun</td>
                                                        <td>surat</td>
                                                        <td>
                                                            <span class="label text-success">18</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12 col-xs-12 traffic">
                                    <div class="dashboard-list-box with-icons">
                                        <div class="dashboard-title">
                                            <h4 class="mb-0">Social Media</h4>
                                            <p class="mb-0">Airtport Hotels The Right Way To Start A Short</p>
                                        </div>
                                        <div class="table-responsive table-desi">
                                            <table class="basic-table table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Media</th>
                                                        <th>Name</th>
                                                        <th>Share</th>
                                                        <th>Like</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><i class="fab fa-facebook"></i></td>
                                                        <td><span>Linked In perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-twitter"></i></td>
                                                        <td><span>Twitter perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-facebook"></i></td>
                                                        <td><span>Facebook perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-google"></i></td>
                                                        <td><span>Google perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-youtube"></i></td>
                                                        <td><span>YouTube perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-whatsapp"></i></td>
                                                        <td><span>WhatsApp perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-twitter"></i></td>
                                                        <td><span>Twitter perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="fab fa-youtube"></i></td>
                                                        <td><span>YouTube perfect</span>
                                                        </td>
                                                        <td>15K</td>
                                                        <td>18K</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>    
        </div>
    </div>

    <section class="newsletter p-0 position-relative">
        <div class="newsletter-main bg-theme2 p-5 pb-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-2">
                        <div class="newsletter-content">
                            <h2 class="mb-0 white text-lg-start text-center">
                                Do You Need Help With Anything?
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="newsletter-form w-100">
                            <form action="#" method="get" accept-charset="utf-8" class="border-0">
                                <input type="text" placeholder="Email Address">
                                <button class="nir-btn-black">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_body %}
    <script src="{% static "customer/js/dashboard-custom.js" %}"></script>
{% endblock %}