{% extends "customer/base.html" %}
{% load static %}

{% block title %}Listing{% endblock %}

{% block extra_head %}
    <!--dashboard CSS-->
    <link href="{% static "customer/css/dashboard.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% url "accounts:listing" as title_url %}
    {% include "customer/partials/breadcrumb.html" with title="Dashboard" subtitle="My Listings" title_url=title_url %}

    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
            <div class="dashboard-main">
                <div class="row">
                    {% include "customer/partials/profile-card.html" %}

                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">    
                        <div class="dashboard-list-box with-icons">
                            <div class="dashboard-title">
                                <h4 class="mb-0">Listing All</h4>
                                <p class="mb-0">Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                            </div>
                            <div class="table-responsive table-desi">
                                <table class="basic-table table table-hover">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Listing</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>City</th>
                                            <th>View</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/closeup-smiling-young-beautiful-indian-woman_1262-2261.webp" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span> Lodha Excellus Mumbai, Maharashtra 400011 </span></a></td>
                                            <td>+91 3214 6522</td>
                                            <td>lodharealestate@gmail.com</td>
                                            <td>Mumbai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/indian-man-11787611.webp" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span>1200-West--Simplex Flat-in-SR Hyderabad</span></a></td>
                                            </td>
                                            <td>+01 3214 6522</td>
                                            <td>pragatinagarjt@.com</td>
                                            <td>Telangana</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/premium_photo-1682089892133-556bde898f2c.jpg" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span> Lodha Excellus Mumbai, Maharashtra 400011 </span></a></td>
                                            <td>+91 3214 6522</td>
                                            <td>lodharealestate@gmail.com</td>
                                            <td>Mumbai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/indian-man-11787611.webp" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span>Cube city properties-for-Sale-in-Medavakkam-Chennai</span></a></td>
                                            <td>+01 3214 6522</td>
                                            <td>adityagty@gmail.com</td>
                                            <td>Chennai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/young-handsome-indian-businessman_251136-38211.webp" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span> Lodha Excellus Mumbai, Maharashtra 400011 </span></a></td>
                                            <td>+91 3214 6522</td>
                                            <td>lodharealestate@gmail.com</td>
                                            <td>Mumbai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/premium_photo-1682089892133-556bde898f2c.jpg" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span>Cube city properties-for-Sale-in-Medavakkam-Chennai</span></a></td>
                                            <td>+01 3214 6522</td>
                                            <td>adityagty@gmail.com</td>
                                            <td>Chennai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/premium_photo-1682089892133-556bde898f2c.jpg" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span> Lodha Excellus Mumbai, Maharashtra 400011 </span></a></td>
                                            <td>+91 3214 6522</td>
                                            <td>lodharealestate@gmail.com</td>
                                            <td>Mumbai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/young-handsome-indian-businessman_251136-38211.webp" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span>Cube city properties-for-Sale-in-Medavakkam-Chennai</span></a></td>
                                            <td>+01 3214 6522</td>
                                            <td>adityagty@gmail.com</td>
                                            <td>Chennai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/indian-man-11787611.webp" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span> Lodha Excellus Mumbai, Maharashtra 400011 </span></a></td>
                                            <td>+91 3214 6522</td>
                                            <td>lodharealestate@gmail.com</td>
                                            <td>Mumbai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/premium_photo-1682089892133-556bde898f2c.jpg" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span>Cube city properties-for-Sale-in-Medavakkam-Chennai</span></a></td>
                                            <td>+01 3214 6522</td>
                                            <td>adityagty@gmail.com</td>
                                            <td>Chennai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/closeup-smiling-young-beautiful-indian-woman_1262-2261.webp" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span> Lodha Excellus Mumbai, Maharashtra 400011 </span></a></td>
                                            <td>+91 3214 6522</td>
                                            <td>lodharealestate@gmail.com</td>
                                            <td>Mumbai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/premium_photo-1682089892133-556bde898f2c.jpg" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span>Cube city properties-for-Sale-in-Medavakkam-Chennai</span></a></td>
                                            <td>+01 3214 6522</td>
                                            <td>adityagty@gmail.com</td>
                                            <td>Chennai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/indian-man-11787611.webp" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span> Lodha Excellus Mumbai, Maharashtra 400011 </span></a></td>
                                            <td>+91 3214 6522</td>
                                            <td>lodharealestate@gmail.com</td>
                                            <td>Mumbai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/photo-1607346256330-dee7af15f7c5.jpg" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span>Cube city properties-for-Sale-in-Medavakkam-Chennai</span></a></td>
                                            <td>+01 3214 6522</td>
                                            <td>adityagty@gmail.com</td>
                                            <td>Chennai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="list-img"><img src="{% static "customer/images/lead_profile/young-handsome-indian-businessman_251136-38211.webp" %}" alt="" class="w-50"></span>
                                            </td>
                                            <td><a href="#"><span> Lodha Excellus Mumbai, Maharashtra 400011 </span></a></td>
                                            <td>+91 3214 6522</td>
                                            <td>lodharealestate@gmail.com</td>
                                            <td>Mumbai</td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-eye text-primary" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="listing-edit.html"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="#"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>    
            <!-- Content / End -->
        </div>
    </div>
    <!-- Dashboard / End -->

    <!-- content-line start -->
    <section class="newsletter p-0 position-relative">
        <div class="newsletter-main bg-theme2 p-5 pb-3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 mb-2">
                        <div class="newsletter-content">
                            <h2 class="mb-0 white text-lg-start text-center">
                                Do You Need Help With Anything?
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                        <div class="newsletter-form w-100">
                            <form action="#" method="get" accept-charset="utf-8" class="border-0">
                                <input type="text" placeholder="Email Address">
                                <button class="nir-btn-black">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block extra_body %}
    <script src="{% static "customer/js/dashboard-custom.js" %}"></script>
{% endblock %}