<div class="property-detail mb-4 bg-lgrey p-4 border">
    <h4 class="border-b pb-2">Property Details</h4>
    <div class="row">
        <div class="col-lg">
            <ul class="pro-inline-item">
                <li class="d-block fw-bold lh-lg">Property ID : <span class="fw-normal float-end">HZ27</span></li>
                <li class="d-block fw-bold lh-lg">Price : <span class="fw-normal float-end">${{object.details.price}}</span></li>
                <li class="d-block fw-bold lh-lg">Property Size : <span class="fw-normal float-end">1560 Sq Ft</span></li>
                <li class="d-block fw-bold lh-lg">Year Built : <span class="fw-normal float-end">2021-01-09</span></li>
            </ul>
        </div>
        <div class="col-lg">
            <ul class="pro-inline-item">
                <li class="d-block fw-bold lh-lg">Bedrooms  : <span class="fw-normal float-end">4</span></li>
                <li class="d-block fw-bold lh-lg">Bathrooms  : <span class="fw-normal float-end">4</span></li>
                <li class="d-block fw-bold lh-lg">Garage  : <span class="fw-normal float-end">Yes</span></li>
                <li class="d-block fw-bold lh-lg">Parking : <span class="fw-normal float-end">Yes</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="property-detail mb-4 bg-grey p-4">
    <h4 class="border-bottom pb-2">Offices Amenities</h4>
    <div class="row">
        <div class="col-lg">
            <ul class="pro-inline-item">
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Balcony</li>
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Air Conditioning</li>
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Fireplace</li>
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Dining room</li>
            </ul>
        </div>
        <div class="col-lg">
            <ul class="pro-inline-item">
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Basement</li>
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Cooling</li>
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Lawn</li>
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Dishwasher</li>
            </ul>
        </div>
        <div class="col-lg">
            <ul class="pro-inline-item">
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Microwave</li>
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> TV Cable</li>
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> WiFi</li>
                <li class="d-block lh-lg"><i class="fa fa-check theme"></i> Refrigerator</li>
            </ul>
        </div>
    </div>
</div>