<section class="newsletter p-0 position-relative">
    <div class="newsletter-main bg-theme2 p-5 pb-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 mb-2">
                    <div class="newsletter-content">
                        <h2 class="mb-0 white text-lg-start text-center">
                            Do You Need Help With Anything?
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="newsletter-form w-100">
                        <form action="#" method="get" accept-charset="utf-8" class="border-0">
                            <input type="text" placeholder="Email Address">
                            <button class="nir-btn-black">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>