{% load static %}

<footer class="pt-10 footermain">
    <div class="footer-upper pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="footer-about">
                        <img src="{% static "customer/images/24_7_websitelogo.png" %}" alt="">
                        <p class="pt-2">propertyvisit.in&nbsp;is an online platform where you can buy and sell verified properties. Buying a property can change your lifestyle - So, why not invest in a reliable way for your bright</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
                    <div class="footer-links">
                        <h3 class="white">Quick link</h3>
                        <ul>
                            <li><a href="{% url "core:about_us" %}">About Us</a></li>
                            <li><a href="{% url "core:privacy_policy" %}">Privacy Policy</a></li>
                            <li><a href="{% url "core:terms_and_conditions" %}">Terms & Conditions</a></li>
                            <li><a href="{% url "core:terms_and_conditions" %}">Subscription Plans</a></li>
                            <li><a href="{% url "core:faq" %}">Faq</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
                    <div class="footer-links">
                        <h3 class="white">Featured Locations</h3>
                        <ul class="res-list">
                            <li>
                                <i class="fa fa-angle-right"></i>
                                <a href="about-us.html" style="margin-left: 8px;">Hyderabad</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right"></i>
                                <a href="about-us.html" style="margin-left: 8px;">Vijayawada</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right"></i>
                                <a href="about-us.html" style="margin-left: 8px;">Bangalore</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right"></i>
                                <a href="about-us.html" style="margin-left: 8px;">Chennai</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right"></i>
                                <a href="about-us.html" style="margin-left: 8px;">Delhi</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="footer-links">
                        <h3 class="white">Contact Us</h3>
                        <ul class="mt-20 vfx-footer-list">
                            <li>
                                <div class="vfx-contact-info d-flex  gap-2 align-items-center">
                                    <div class="icon"> <i class="fa fa-map-marker-alt"></i> </div>
                                    <div class="text">Location Information</div>
                                </div>
                            </li>
                            <li>
                                <div class="vfx-contact-info d-flex  gap-2 align-items-center">
                                    <div class="icon"> <i class="fas fa-envelope"></i> </div>
                                    <div class="text"><a href="mailto:info@propertyvisit.in" target="_blank">info@propertyvisit.in</a></div>
                                </div>
                            </li>
                            <li class="">
                                <div class="align-items-center d-flex gap-2 vfx-contact-info">
                                    <div class="icon"> <i class="fas fa-phone-alt"></i> </div>
                                    <div class="text">+919410279999</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright pt-2 pb-2">
        <div class="container">
            <div class="copyright-inner d-md-flex align-items-center justify-content-between">
                <div class="copyright-text">
                    <p class="m-0 white">2024 propertyvisit. All rights reserved.</p>
                </div>
                <div class="social-links">
                    <ul>
                        <li><a href="https://www.facebook.com/propertyvisit"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/propertyvisit"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/property_visit/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/PropertyVisit"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>