{% load static %}

<section class="discount-action pt-0 bg-grey">
    <div class="container">
        <div class="call-banner" style="background-image: url({% static "customer/images/looking_to_buy.png" %});">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-8 p-0 pt-10">
                    <div class="call-banner-inner bg-theme1 p-5">
                        <div class="trend-content-main">
                            <div class="trend-content p-5">
                                <h5 class="mb-1 white">Wanna to Sell Or Rent??</h5>
                                <h2 class="mb-4"><a class="white">Looking to Buy a New Property or Sell an Existing One?</a></h2>
                                <div class="section-btns d-flex align-items-center">
                                    <a href="{% url "property:add_customer_property" %}" class="nir-btn me-4">Rent Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                    <a href="{% url "property:property_list" %}" class="nir-btn">Buy Properties <i class="fa fa-arrow-right white pl-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 p-0"></div>
            </div>
        </div>
        <div class="partner-wrapper bg-white p-4">
            <ul class="attract-slider">
                <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-2.png" %}" alt=""></a></li>
                <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-2.png" %}" alt=""></a></li>
                <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-3.png" %}" alt=""></a></li>
                <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-4.png" %}" alt=""></a></li>
                <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-5.png" %}" alt=""></a></li>
                <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-2.png" %}" alt=""></a></li>
                <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-3.png" %}" alt=""></a></li>
                <li class="px-3"><a href="#"><img src="{% static "customer/images/Ad-Projects/Ad-Projects-3.png" %}" alt=""></a></li>
            </ul>
        </div>
    </div>
</section>