{% load static %}

{% url "accounts:dashboard" as dashboard_url %}
{% url "accounts:profile" as profile_url %}
{% url "accounts:reviews" as reviews_url %}
{% url "accounts:listing" as listing_url %}
{% url "accounts:history" as history_url %}

<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard-sidebar">
        <div class="profile-sec">
            <div class="author-news mb-3" style="background-image:url({% static "customer/images/destination/destination16.jpg" %});">
                <div class="author-news-content text-center p-4 py-5">
                    <div class="author-thumb mt-0">
                        {% if request.user.profile %}<img src="{{request.user.profile.url}}" alt="author">{% endif %}
                    </div>
                    <div class="author-content pt-2 p-0">
                        <h3 class="mb-1 white"><a class="white">{{request.user.get_full_name}}</a></h3>
                        {% if request.user.address %}<p class="detail white"><i class="fa fa-map-marker white"></i> {{request.user.address}}</p>{% endif %}
                        {% if request.user.phone %}<p class="detail white"><i class="fa fa-phone white"></i> {{request.user.phone}}</p>{% endif %}
                        <div class="header-social mt-2">
                            <ul>
                                {% if request.user.skype %}<li><a href="{{request.user.skype}}"><i class="fab fa-skype-f"></i></a></li>{% endif %}
                                {% if request.user.facebook %}<li><a href="{{request.user.facebook}}"><i class="fab fa-facebook-f"></i></a></li>{% endif %}
                                {% if request.user.twitter %}<li><a href="{{request.user.twitter}}"><i class="fab fa-twitter-f"></i></a></li>{% endif %}
                                {% if request.user.linkedin %}<li><a href="{{request.user.linkedin}}"><i class="fab fa-linkedin-f"></i></a></li>{% endif %}
                                {% if request.user.instagram %}<li><a href="{{request.user.instagram}}"><i class="fab fa-instagram-f"></i></a></li>{% endif %}
                                {% if request.user.pinterest %}<li><a href="{{request.user.pinterest}}"><i class="fab fa-pinterest-f"></i></a></li>{% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dot-overlay"></div>
            </div>
        </div>
        <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>  
        <div class="dashboard-nav">
            <div class="dashboard-nav-inner">
                <ul>
                    <li {% if request.path == dashboard_url %}class="active"{% endif %}><a href="{% url "accounts:dashboard" %}"><i class="fa fa-bars"></i> Dashboard</a></li>
                    <li>
                        <form action="{% url "property:property_list" %}" method="get">
                            <div class="form-control-sm">
                                <div class="input-box">
                                    <select name="type" class="bg-transparent btn btn-outline-dark form-select text-start" onchange="this.form.submit()">
                                        <option value="" disabled selected>➕ Add listing</option>
                                        <option value="flat">Flat</option>
                                        <option value="villa">Villa</option>
                                        <option value="house">Independent House</option>
                                        <option value="office">Office/Commercial Space </option>
                                        <option value="plot">Open Plot</option>
                                        <option value="agriculture">Agriculture Land</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li {% if request.path == profile_url %}class="active"{% endif %}><a href="{% url "accounts:profile" %}"><i class="fa fa-user"></i> Profile</a></li>                     
                    <li {% if request.path == reviews_url %}class="active"{% endif %}><a href="{% url "accounts:reviews" %}"><i class="fa fa-star"></i> Reviews</a></li>
                    <li {% if request.path == listing_url %}class="active"{% endif %}><a href="{% url "accounts:listing" %}"><i class="fa fa-list-alt"></i> Listing</a></li>
                    <li {% if request.path == history_url %}class="active"{% endif %}><a href="{% url "accounts:history" %}"><i class="fa fa-list-ul"></i> Booking History</a></li>
                    <li><a href="#"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>