{% extends "admin/pages/property/create/base.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col">
        <div>
          <span class="fs-4 m-0 text-primary"><a href="javascript:history.back()"><i class="ri-arrow-left-line"></i> Back</a></span>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span class="fs-3 m-0">Edit Agriculture Land</span>
              <hr />
            </div>
            <div class="card-content">
              <form method="post">
                {% csrf_token %} 
                {{ wizard.management_form }}
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <label for="facing" class="form-label mb-0">Facing</label>
                    {{wizard.form.facing|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.facing}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="acres" class="form-label mb-0">Acres</label>
                    {{wizard.form.acres|attr:"class:form-control"|attr:"placeholder:Enter Acres"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.acres}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="approach_road" class="form-label mb-0">Approach Road</label>
                    {{wizard.form.approach_road|attr:"class:form-control"|attr:"placeholder:Enter Approach Road"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.approach_road}}</div>
                    {% endif %}
                  </div>

                  <div class="card-title mt-3 mb-1">
                    <span class="fs-4 m-0">Price & Commission</span>
                    <hr />
                  </div>

                  <div class="col-md-6 mb-2">
                    <label for="price" class="form-label mb-0">Price</label>
                    {{wizard.form.price|attr:"class:form-control"|attr:"placeholder:Enter Price"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.price}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="commission" class="form-label mb-0">Commission</label>
                    {{wizard.form.commission|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.commission}}</div>
                    {% endif %}
                  </div>
                  <div class="col-12 mb-2">
                    <div class="form-group">
                      <button type="submit" name="submit" class="btn btn-primary float-end">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
