{% extends "admin/pages/property/create/base.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col">
        <div>
          <span class="fs-4 m-0 text-primary"><a href="history.back()"><i class="ri-arrow-left-line"></i> Back</a></span>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span class="fs-3 m-0">Add Agriculture Land</span>
              <hr />
            </div>
            <div class="card-content">
              <form method="post">
                {% csrf_token %} {{ wizard.management_form }}
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <label for="post_type" class="form-label mb-0">Post Type</label>
                    <select id="post_type" name="post_type" class="form-select">
                      <option value="">Select Post Type</option>
                      <option value="Sale">Sale</option>
                      <option value="Rent">Rent</option>
                      <option value="Lease">Lease</option>
                    </select>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.post_type}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="type" class="form-label mb-0">Property Type</label>
                    <select id="type" name="type" class="form-select">
                      <option value="">Select Property Type</option>
                      {% for type in types %}
                      <option value="{{type.id}}">{{type.name}}</option>
                      {% endfor %}
                    </select>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.type}}</div>
                    {% endif %}
                  </div>
                  <div class="col-12 mb-2">
                    <label for="description" class="form-label mb-0">Property Description</label>
                    <textarea id="description" name="description" class="form-control d-none" placeholder="Enter FAQ Qescription">
                    </textarea>
                    <!-- start Snow-editor-->
                    <div id="snow-editor" style="height: 300px"></div>
                    <!-- end Snow-editor-->
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.description}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="phone" class="form-label mb-0">Contact No.</label>
                    <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter Contact No."/>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.phone}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="image" class="form-label mb-0">Image</label>
                    <input type="file" id="image" name="image" class="form-control" accept="image/*"/>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.image}}</div>
                    {% endif %}
                  </div>

                  <div class="card-title mt-3 mb-1">
                    <span class="fs-4 m-0">Property Address</span>
                    <hr />
                  </div>
                  <div class="col-6 mb-2">
                    <label for="lat" class="form-label mb-0">Property Latitude</label>
                    <input type="text" id="lat" name="lat" class="form-control" placeholder="Enter Property Latitude"/>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.lat}}</div>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-2">
                    <label for="long" class="form-label mb-0">Property Longitude</label>
                    <input type="text" id="long" name="long" class="form-control" placeholder="Enter Property Longitude"/>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.long}}</div>
                    {% endif %}
                  </div>
                  <div class="col-12 mb-2">
                    <label for="address" class="form-label mb-0">Address</label>
                    <textarea class="form-control" name="address" id="address" rows="4" placeholder="Enter Address"></textarea>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.address}}</div>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-2">
                    <label for="city" class="form-label mb-0">Property City</label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="Enter Property City"/>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.city}}</div>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-2">
                    <label for="state" class="form-label mb-0">Property State</label>
                    <input type="text" id="state" name="state" class="form-control" placeholder="Enter Property City"/>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.state}}</div>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-2">
                    <label for="postal_code" class="form-label mb-0" >Property Zip/Postal Code</label>
                    <input type="text" id="postal_code" name="postal_code" class="form-control" placeholder="Enter Zip/Postal Code"/>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.postal_code}}</div>
                    {% endif %}
                  </div>

                  <div class="card-title mt-3 mb-1">
                    <span class="fs-4 m-0">SEO Content</span>
                    <hr />
                  </div>
                  <div class="col-6 mb-2">
                    <label for="seo_title" class="form-label mb-0">SEO Title</label>
                    <input type="text" id="seo_title" name="seo_title" class="form-control" placeholder="Enter SEO Title"/>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.seo_title}}</div>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-2">
                    <label for="seo_keywords" class="form-label mb-0">Keywords<span class="text-danger">(Use comma(,) to separate keyword.)</span></label>
                    <input type="text" id="seo_keywords" name="seo_keywords" class="form-control" placeholder="Enter SEO Keywords"/>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.seo_keywords}}</div>
                    {% endif %}
                  </div>
                  <div class="col-12 mb-2">
                    <label for="meta_description" class="form-label mb-0">Meta Description</label>
                    <textarea class="form-control" name="meta_description" id="meta_description" rows="4" placeholder="Enter Meta Description"></textarea>
                    {% if form.errors %}
                    <div class="text-danger">
                      {{form.errors.meta_description}}
                    </div>
                    {% endif %}
                  </div>

                  <div class="card-title mt-3 mb-1">
                    <span class="fs-4 m-0">Other Info</span>
                    <hr />
                  </div>
                  <div class="col-6 mb-2">
                    <div class="form-check form-switch">
                      <label for="is_rera_agent" class="form-label mb-0">Is RERA Agent?</label>
                      <input class="form-check-input" name="is_active" type="checkbox" id="is_rera_agent"/>
                      {% if form.errors %}
                      <div class="text-danger">{{form.errors.is_rera_agent}}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-6 mb-2">
                    <label for="rera_number" class="form-label mb-0">RERA Number</label>
                    <input type="text" id="rera_number" name="rera_number" class="form-control" placeholder="Enter SEO Title"/>
                    {% if form.errors %}
                    <div class="text-danger">{{form.errors.rera_number}}</div>
                    {% endif %}
                  </div>
                  <div class="col-12 mb-2">
                    <div class="form-group">
                      <button type="submit" name="submit" class="btn btn-primary float-end">
                        Next
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
