{% extends "admin/pages/property/create/base.html" %}
{% load widget_tweaks %}

{% block extra_head %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col">
        <div>
          <span class="fs-4 m-0 text-primary"><a href="javascript:history.back()"><i class="ri-arrow-left-line"></i> Back</a></span>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span class="fs-3 m-0">Edit Plot</span>
              <hr />
            </div>
            <div class="card-content">
              <form method="post">
                {% csrf_token %} 
                {{ wizard.management_form }}
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <label for="facing" class="form-label mb-0">Facing</label>
                    {{wizard.form.facing|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.facing}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="type" class="form-label mb-0">Type</label>
                    {{wizard.form.type|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.type}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="authority" class="form-label mb-0">Authority</label>
                    {{wizard.form.authority|attr:"class:form-control"|attr:"placeholder:Enter Authority"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.authority}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="area" class="form-label mb-0">Area</label>
                    {{wizard.form.area|attr:"class:form-control"|attr:"placeholder:Enter Area"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.area}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="length" class="form-label mb-0">Length</label>
                    {{wizard.form.length|attr:"class:form-control"|attr:"placeholder:Enter Length"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.length}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="breadth" class="form-label mb-0">Breadth</label>
                    {{wizard.form.breadth|attr:"class:form-control"|attr:"placeholder:Enter Breadth"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.breadth}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="approach_road" class="form-label mb-0">Approach Road</label>
                    {{wizard.form.approach_road|attr:"class:form-control"|attr:"placeholder:Enter Approach Road"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.approach_road}}</div>
                    {% endif %}
                  </div>


                  <div class="card-title mt-3 mb-1">
                    <span class="fs-4 m-0">Price & Commission</span>
                    <hr />
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="maintenance" class="form-label mb-0">Maintenance</label>
                    {{wizard.form.maintenance|attr:"class:form-control"|attr:"placeholder:Enter Maintenance"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.maintenance}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="price" class="form-label mb-0">Price</label>
                    {{wizard.form.price|attr:"class:form-control"|attr:"placeholder:Enter Price"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.price}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="commission" class="form-label mb-0">Commission</label>
                    {{wizard.form.commission|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.commission}}</div>
                    {% endif %}
                  </div>
                  
                  <div class="col-12 mb-2">
                    <div class="form-group">
                      <button type="submit" name="submit" class="btn btn-primary float-end">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_body %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
  <script>
      $("#id_3-available_from").datepicker();
  </script>
{% endblock %}