{% extends "admin/pages/property/create/base.html" %}
{% load widget_tweaks %}

{% block content %}
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col">
        <div>
          <span class="fs-4 m-0 text-primary"><a href="javascript:history.back()"><i class="ri-arrow-left-line"></i> Back</a></span>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span class="fs-3 m-0">Edit Property</span>
              <hr />
            </div>
            <div class="card-content">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ wizard.management_form }}
                <div class="row">
                  <div class="col-12 mb-2">
                    <label for="name" class="form-label mb-0">Property Name</label>
                    {{wizard.form.name|attr:"class:form-control"|attr:"placeholder:Enter Property Name"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.name}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="post_type" class="form-label mb-0">Post Type</label>
                    {{wizard.form.post_type|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.post_type}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="type" class="form-label mb-0">Property Type</label>
                    {{wizard.form.type|attr:"class:form-select"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.type}}</div>
                    {% endif %}
                  </div>
                  <div class="col-12 mb-2">
                    <label for="description" class="form-label mb-0">Property Description</label>
                    {{wizard.form.description|attr:"class:form-control d-none"|attr:"placeholder:Enter Description"}}
                    <div id="snow-editor" style="height: 300px"></div>
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.description}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="phone" class="form-label mb-0">Contact No.</label>
                    {{wizard.form.phone|attr:"class:form-control"|attr:"placeholder:Enter Contact No."}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.phone}}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-2">
                    <label for="images" class="form-label mb-0">Images</label>
                    {{wizard.form.images|attr:"class:form-control"|attr:"accept:image/*"|attr:"multiple"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.images}}</div>
                    {% endif %}
                  </div>

                  <div class="card-title mt-3 mb-1">
                    <span class="fs-4 m-0">Property Address</span>
                    <hr />
                  </div>
                  <div class="col-6 mb-2">
                    <label for="lat" class="form-label mb-0">Property Latitude</label>
                    {{wizard.form.lat|attr:"class:form-control"|attr:"placeholder:Enter Property Latitude"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.lat}}</div>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-2">
                    <label for="long" class="form-label mb-0">Property Longitude</label>
                    {{wizard.form.long|attr:"class:form-control"|attr:"placeholder:Enter Property Longitude"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.long}}</div>
                    {% endif %}
                  </div>
                  <div class="col-12 mb-2">
                    <label for="address" class="form-label mb-0">Address</label>
                    {{wizard.form.address|attr:"class:form-control"|attr:"placeholder:Enter Address"|attr:"rows:4"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.address}}</div>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-2">
                    <label for="city" class="form-label mb-0">Property City</label>
                    {{wizard.form.city|attr:"class:form-control"|attr:"placeholder:Enter Property City"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.city}}</div>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-2">
                    <label for="state" class="form-label mb-0">Property State</label>
                    {{wizard.form.state|attr:"class:form-control"|attr:"placeholder:Enter Property City"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.state}}</div>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-2">
                    <label for="postal_code" class="form-label mb-0" >Property Zip/Postal Code</label>
                    {{wizard.form.postal_code|attr:"class:form-control"|attr:"placeholder:Enter Zip/Postal Code"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.postal_code}}</div>
                    {% endif %}
                  </div>

                  <div class="card-title mt-3 mb-1">
                    <span class="fs-4 m-0">SEO Content</span>
                    <hr />
                  </div>
                  <div class="col-6 mb-2">
                    <label for="seo_title" class="form-label mb-0">SEO Title</label>
                    {{wizard.form.seo_title|attr:"class:form-control"|attr:"placeholder:Enter SEO Title"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.seo_title}}</div>
                    {% endif %}
                  </div>
                  <div class="col-6 mb-2">
                    <label for="seo_keywords" class="form-label mb-0">Keywords<span class="text-danger">(Use comma(,) to separate keyword.)</span></label>
                    {{wizard.form.seo_keywords|attr:"class:form-control"|attr:"placeholder:Enter SEO Keywords"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.seo_keywords}}</div>
                    {% endif %}
                  </div>
                  <div class="col-12 mb-2">
                    <label for="meta_description" class="form-label mb-0">Meta Description</label>
                    {{wizard.form.meta_description|attr:"class:form-control"|attr:"placeholder:Enter Meta Description"|attr:"rows:4"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.meta_description}}</div>
                    {% endif %}
                  </div>

                  <div class="card-title mt-3 mb-1">
                    <span class="fs-4 m-0">Other Info</span>
                    <hr />
                  </div>
                  <div class="col-6 mb-2">
                    <div class="form-check form-switch">
                      <label for="is_rera_agent" class="form-label mb-0">Is RERA Agent?</label>
                      {{wizard.form.is_rera_agent|attr:"class:form-check-input"}}
                      {% if form.errors %}
                        <div class="text-danger">{{form.errors.is_rera_agent}}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-6 mb-2">
                    <label for="rera_number" class="form-label mb-0">RERA Number</label>
                    {{wizard.form.rera_number|attr:"class:form-control"|attr:"placeholder:Enter RERA Number"}}
                    {% if form.errors %}
                      <div class="text-danger">{{form.errors.rera_number}}</div>
                    {% endif %}
                  </div>
                  <div class="col-12 mb-2">
                    <div class="form-group">
                      <button type="submit" name="submit" class="btn btn-primary float-end">
                        Next
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}