{% extends "admin/admin_base.html" %}

{% load static %}

{% block title %}Add Subscription Plan{% endblock %}

{% block extra_head %}
    <!-- Quill css -->
    <link href="{% static "vendor/quill/quill.core.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "vendor/quill/quill.snow.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "vendor/quill/quill.bubble.css" %}" rel="stylesheet" type="text/css" />

    <!-- Vector Map css -->
    <link rel="stylesheet" href="{% static "vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}" />

    <link rel="stylesheet" href="{% static "custom/custom_style.css" %}" />
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row pt-3">
            <div class="col">
                <div>
                    <span class="fs-4 m-0 text-primary"><a href="javascript:history.back()"><i class="ri-arrow-left-line"></i> Back</a></span>
                </div>
                <div class="card">
                    <div class="card-body">
                        
                        <div class="card-title">
                            <span class="fs-3 m-0">Add Subscription Plan</span>
                            <hr>
                        </div>
                        <div class="card-content">
                            <form action="{% url "subscription:add_subscription_plan" %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label for="name" class="form-label mb-0">Subscription Name</label>
                                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Subscription Name">
                                        {% if form.errors %}
                                            <div class='text-danger'>{{form.errors.name}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label for="price" class="form-label mb-0">Subscription Price</label>
                                        <input type="text" id="price" name="price" class="form-control" placeholder="Enter Subscription Price">
                                        {% if form.errors %}
                                            <div class='text-danger'>{{form.errors.price}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label for="max_listings" class="form-label mb-0">Listing</label>
                                        <input type="text" id="max_listings" name="max_listings" class="form-control" placeholder="Enter Listing">
                                        {% if form.errors %}
                                            <div class='text-danger'>{{form.errors.max_listings}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label for="max_ads" class="form-label mb-0">Advertisements</label>
                                        <input type="text" id="max_ads" name="max_ads" class="form-control" placeholder="Enter Advertisements">
                                        {% if form.errors %}
                                            <div class='text-danger'>{{form.errors.max_ads}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12 mb-2">
                                        <label for="max_ads" class="form-label mb-0">Description</label>
                                        <textarea id="about_us" name="description" class="form-control d-none"></textarea>
                                        <div id="snow-editor" style="height: 300px;"></div>
                                        {% if form.errors %}
                                            <div class='text-danger'>{{form.errors.description}}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div class="form-group">
                                            <button type="submit" name="submit" class="btn btn-primary float-end">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <!-- Quill Editor js -->
    <script src="{% static "vendor/quill/quill.min.js" %}"></script>

    <!-- Dropzone File Upload js -->
    <script src="{% static "vendor/dropzone/min/dropzone.min.js" %}"></script>
    <script>
        $(document).ready(function () {
          var snowEditorOptions = {
            theme: "snow",
            modules: {
              toolbar: [
                [{ font: [] }, { size: [] }],
                ["bold", "italic", "underline", "strike"],
                [{ color: [] }, { background: [] }],
                [{ script: "super" }, { script: "sub" }],
                [{ header: [!1, 1, 2, 3, 4, 5, 6] }, "blockquote", "code-block"],
                [
                  { list: "ordered" },
                  { list: "bullet" },
                  { indent: "-1" },
                  { indent: "+1" },
                ],
                ["direction", { align: [] }],
              ],
            },
          };
          var quill1 = new Quill("#snow-editor", snowEditorOptions);
  
          quill1.on("text-change", function () {
            $("#about_us").val($("#snow-editor .ql-editor").html());
          });
        });
    </script>
{% endblock %}