{% extends "admin/admin_base.html" %}

{% load static %}

{% block title %}Subscription Plans{% endblock %}

{% block extra_head %}
    <!-- Datatables css -->
    <link href="{% static "vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" %}" rel="stylesheet" type="text/css" />

    <!-- Vector Map css -->
    <link rel="stylesheet" href="{% static "vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}" />

    <link rel="stylesheet" href="{% static "custom/custom_style.css" %}" />
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row pt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <span class="fs-3 m-0">Manage Subscription Plan</span>
                            <a class="float-end btn btn-outline-primary" href="{% url "subscription:add_subscription_plan" %}">Add Subscription</a>
                            <hr>
                        </div>
                        <div class="card-content">
                            <div class="responsive-table-plugin">
                                <div class="table-rep-plugin">
                                    <div class="table-responsive" data-pattern="priority-columns">
                                        <table id="subscription-plan-table"
                                            class="table table-striped w-100">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th>Days</th>
                                                    <th>Listing</th>
                                                    <th>Ads Posting</th>
                                                    <th class="cat_action_list">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for object in object_list %}
                                                    <tr>
                                                        <td>{{object.name}}</td>
                                                        <td>{{object.price}}</td>
                                                        <td>{{object.duration_days}}</td>
                                                        <td>{{object.max_listings}}</td>
                                                        <td>{{object.max_ads}}</td>
                                                        <td class="d-flex">
                                                            <a href="{% url "subscription:edit_subscription_plan" pk=object.pk %}" class="btn btn-success btn-sm me-1 tooltips edit-btn-custom" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">
                                                                <i class="ri-pencil-fill"></i>
                                                            </a>
                                                            <form id="delete_subscription_plan" action="{% url "subscription:delete_subscription_plan" pk=object.pk %}" method="post">
                                                                {% csrf_token %}
                                                                <button class="btn btn-danger btn-sm tooltips" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <!-- Datatables js -->
    <script src="{% static "vendor/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js" %}"></script>
    <script src="{% static "vendor/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js" %}"></script>

    <script>
        $(document).ready(function () {
            $('#subscription-plan-table').DataTable({
                columnDefs: [
                    { orderable: false, targets: -1 }
                ],
                
            });
        });
    </script>
{% endblock %}